{% extends "base.html" %}

{% block content %}
  <div class="container mt-4">
    <h2>All messages</h2>

    {% if messages %}
      {% for time, msg in messages.items() %}
      <div class="card mb-3">
        <div class="card-header text-muted">{{ time }}</div>
        <div class="card-body">
          <h5 class="card-title">{{ msg.username }}</h5>
          <p class="card-text">{{ msg.message }}</p>
        </div>
      </div>
      {% endfor %}
    {% else %}
      <p class="text-muted">No messages ...</p>
    {% endif %}
  </div>
{% endblock %}
